@import "tailwindcss";

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.bolds {
  font-family: "Thunder", sans-serif;
  font-weight: 900;
}

.balsamiq-sans-regular {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.balsamiq-sans-bold {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.balsamiq-sans-regular-italic {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.balsamiq-sans-bold-italic {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.letter {
  opacity: 0;
  transform: translateX(200px);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}